/*GENERALS*/

:root {
  --primary-dark: #1f2937;
  --primary-light: #3882f6;
  --hover-button: #265094;
  --secondary-grey: #e5e7eb;
  --secondary-white: #f9faf8;
}

html {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

body,
h1,
h2,
h4,
p {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
/*HEADER*/

.header {
  background-color: var(--primary-dark);
  padding: 20px 0;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 28px;
  color: var(--secondary-white);
  margin: 0;
  font-weight: 700;
}

.nav-links {
  display: flex;
  gap: 20px;
}
.header-link {
  list-style: none;
}

.header-link a {
  font-size: 18px;
  color: var(--secondary-grey);
}

.header-link a:hover {
  text-decoration: underline;
}

/*HERO*/

.hero {
  background-color: var(--primary-dark);
  padding: 120px 0;
}
.hero-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.left-hero-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  flex-basis: 500px;
}

.main-title {
  font-size: 48px;
  font-weight: 800;
  color: var(--secondary-white);
}

.hero-paragraph {
  font-size: 18px;
  color: var(--secondary-grey);
}

.main-button {
  background-color: var(--primary-light);
  margin: 20px 0;
  padding: 8px 16px;
  color: var(--secondary-white);
  max-width: 100px;
  border-radius: 8px;
  text-align: center;
}

.main-button:hover {
  background-color: var(--hover-button);
}

/*FEATURES*/
.features {
  padding: 100px 0;
}

.features-container {
  max-width: 1200px;
  margin: 0 auto;
}

.features-title {
  font-size: 36px;
  color: var(--primary-dark);
  font-weight: 800;
  text-align: center;
}

.cards {
  padding: 80px 0;
  display: flex;
  gap: 40px;
  justify-content: space-evenly;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 220px;
}

.feature-description {
  color: var(--primary-dark);
  text-align: justify;
}

/*TESTIMONIAL*/

.testimonial {
  background-color: var(--secondary-grey);
  padding: 120px 0;
}
.testimonial-container {
  max-width: 1000px;
  margin: 0 auto;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: 200;
}

.quote-person {
  text-align: right;
  font-size: 24px;
  font-weight: 500;
  font-style: italic;
  margin: 10px 0;
}

/*CTA*/
.cta {
  padding: 120px 0;
}

.cta-container {
  background-color: var(--primary-light);
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 100px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta-title {
  font-size: 30px;
  font-weight: 500;
  color: var(--secondary-white);
}
.left-cta-text {
  flex-basis: 400px;
}

.cta-text {
  color: var(--secondary-grey);
}
.cta-button {
  background-color: var(--primary-light);
  border: 2px solid var(--secondary-white);
  margin: 20px 0;
  padding: 10px 30px;
  color: var(--secondary-white);
  max-width: 100px;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
}

.cta-button:hover {
  background-color: var(--secondary-white);
  color: var(--primary-light);
}

/*FOOTER*/
.footer {
  background-color: var(--primary-dark);
  padding: 30px 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-paragraph {
  color: var(--secondary-grey);
  text-align: center;
  font-size: 20px;
}
